* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.image-container {
  width: 40vw;
  height: 100vh;

  position: relative;
}

.image-container > img {
  width: 100%;
  height: 100%;
}

.image-container > p {
  position: absolute;
  bottom: 2vh;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.logo-container {
  width: 100%;
  height: 15vh;
  position: absolute;
  top: 25vh;
  background-color: black;
  opacity: 0.2;
}

.image-container a {
  color: white;
}

.form-container{
  border: 1px solid green;
  width: 60vw;
  height: 100vh;
  background-color: #f7f7f7;
}

form {
  width: 100%;
  background-color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 2vh 0;
  box-shadow: 0 0.3rem 5px rgba(0, 0, 0, 0.4);
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}
